#grid{
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(4, 85px);
}

#grid div{
    height: 75px;
    width: 75px;
}

#gridwrapper{
    justify-content: center;
    display: flex;
}

.tile{
    background-color: rgb(166, 187, 255);
    perspective: 1000px;
    border-radius: 5px;
    background-size: contain;
    transition: transform 150ms ease-in-out;
}

.tile:hover{
    transform: scaleX();
    transform: scale(1.05);
}

body{
    margin: 0px;
    background: rgb(42,40,57);
    /*background: linear-gradient(0deg, rgb(31, 29, 44) 0%, rgba(2,0,36,1) 100%);*/
}

#wintext{
    text-align: center;
    font-size: 50px;
    background-image: linear-gradient(0deg,#ffa10c, #ff4360, #ff0e93, #6a00fc);
    background-size: 50%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    text-align: center;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

#reset{
    background-color: transparent;
    width: 75px;
    height: 30px;
    margin-left: 25px;
    margin-top: 15px;
    padding-top: 5px;
    border: snow solid;
    border-radius: 7px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#reset:hover{
    background-color: rgb(166, 187, 255);
    color: black;
}